body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

#chatContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px 20px; /* Adjusted margin to take more space */
    padding: 20px;
    max-height: calc(100vh - 250px); /* Set maximum height */
    overflow-y: auto; /* Enable vertical scroll if needed */
}

#botResponseContainer {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;
}

#botResponse {
    font-weight: bold;
    color: #333;
}

#speakButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#chatForm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow-y: auto;
}

#user_input {
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    margin-right: 10px;
}

#voiceButton,
#submitButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; /* Add margin between buttons */
}
